services:
    stage-ecommerce-nginx:
        image: nginx:latest
        restart: always
        ports:
            - "22443:443"
        volumes:
            - ./nginx.stage.conf:/etc/nginx/nginx.conf
            - /etc/letsencrypt/archive/stage.advd.tech:/etc/nginx/ssl
            - /secrets/.htpasswd:/etc/nginx/secrets/.htpasswd:ro
        networks:
            - stage-net
    stage-ecommerce-frontend:
        build:
            context: ./frontend/webform
        ports:
            - '22092:80'
        env_file:
            - ./frontend/webform/.env
        networks:
            - stage-net

    stage-ecommerce-backend:
        build: ./backend/spring-server-v1
        ports:
            - '22093:9090'
        depends_on:
            - stage-ecommerce-db
        environment:
            - SPRING_DATASOURCE_URL=${DB_URL}
            - SPRING_DATASOURCE_USERNAME=${DB_USER}
            - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
            - JWT_SECRET=${JWT_SECRET}
            - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
            - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
            - BACKEND_SERVER_PORT=22093
        networks:
            - stage-net


    stage-ecommerce-db:
        image: postgres:latest
        ports:
            - '5433:5432'
        environment:
            - POSTGRES_DB=${DB_NAME}
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
        networks:
            - stage-net


networks:
    stage-net:
        driver: bridge
