server:
  port: ${SERVICE_SERVER_PORT:8084}
  address: 0.0.0.0

spring:
  application:
    name: order-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5

  jpa:
    hibernate:
      ddl-auto: create 
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
    consumer:
      group-id: order-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.teipsum.shared.product.event,com.teipsum.shared.order.event

jwt:
  user-access-secret:   ${JWT_SECRET}
  admin-access-secret:  ${JWT_ADMIN_SECRET}

logging:
  system:
    service.name: ${spring.application.name}
  level:
    com.teipsum.orderservice: debug
    org.springframework.kafka: info