<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <include resource="log4j2.xml"/>

    <Appenders>
        <RollingFile name="SecurityFile"
                     fileName="${LOG_DIR}/${sys:service.name}-security.log"
                     filePattern="${LOG_DIR}/${sys:service.name}-security-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} | SECURITY | %-5level | %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="JwtFile"
                     fileName="${LOG_DIR}/${sys:service.name}-jwt.log"
                     filePattern="${LOG_DIR}/${sys:service.name}-jwt-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern><![CDATA[%replace{%d{ISO8601} | JWT | %msg%n}{("token"\s*:\s*")(.*?)(")}{$1****$3}]]></pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="SECURITY" level="warn" additivity="false">
            <AppenderRef ref="SecurityFile"/>
        </Logger>
        <Logger name="JWT" level="info" additivity="false">
            <AppenderRef ref="JwtFile"/>
        </Logger>
        <Logger name="com.teipsum.authservice" level="debug"/>
    </Loggers>
</Configuration>