<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <include resource="log4j2.xml"/>

    <Appenders>
        <RollingFile name="InventoryAudit"
                     fileName="${LOG_DIR:-logs}/${sys:service.name}-audit.log"
                     filePattern="${LOG_DIR:-logs}/${sys:service.name}-audit-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{ISO8601} | INVENTORY_AUDIT | %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="INVENTORY_AUDIT" level="info" additivity="false">
            <AppenderRef ref="InventoryAudit"/>
        </Logger>
        <Logger name="com.teipsum.inventoryservice" level="debug"/>
    </Loggers>
</Configuration>