.profileContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profileForm {
    /* margin-top: 160px; */
    margin-bottom: 20px;
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.errorMessage {
    color: #e74c3c;
    font-size: 1rem;
    margin: 10px 0;
}

.profileContent {
    margin-top: 1.5rem;
}

.subtitle {
    font-size: 1.5rem;
    color: #3498db;
    margin-bottom: 1rem;
}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.deleteButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: #c0392b;
}

.logoutButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logoutButton:hover {
    background-color: #2980b9;
}
