<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <include resource="log4j2.xml"/>

    <Appenders>
        <RollingFile name="AuditFile"
                     fileName="${LOG_DIR}/${sys:service.name}-audit.log"
                     filePattern="${LOG_DIR}/${sys:service.name}-audit-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern><![CDATA[%replace{%d{ISO8601} | AUDIT | %msg%n}{("token"\s*:\s*")(.*?)(")}{$1****$3}]]></pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="ADMIN_AUDIT" level="info" additivity="false">
            <AppenderRef ref="AuditFile"/>
        </Logger>
        <Logger name="com.teipsum.adminproductservice" level="info"/>
    </Loggers>
</Configuration>