services:
  prod-auth-service:
    container_name: prod-auth-service
    build:
      context: ../..
      dockerfile: backend/auth-service/Dockerfile
      args:
        SERVICE_NAME: auth-service
    ports: ['22093:${SERVICE_SERVER_PORT}']
    image: prod-auth-service:latest
    env_file: .env
    networks:
      - prod-net

networks:
  prod-net:
    external: true