services:
  stage-auth-service:
    container_name: stage-auth-service
    build:
      context: .
      dockerfile: backend/auth-service/Dockerfile
    ports: ['22093:${SERVICE_SERVER_PORT}']
    image: stage-auth-service:latest
    # environment:
    #   - SERVER_PORT=${SERVICE_SERVER_PORT}
    #   - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
    #   - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
    #   - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
    #   - SPRING_KAFKA_BOOTSTRAP_SERVERS=${SPRING_KAFKA_BOOTSTRAP_SERVERS}
    #   - JWT_SECRET=${JWT_SECRET}
    #   - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
    #   - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
    env_file: .env
    environment:
      - SERVER_PORT=${SERVICE_SERVER_PORT}
    networks:
      - stage-net

networks:
  stage-net:
    external: true